input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
    
}

input::placeholder{
    color: rgba(87, 84, 84, 0.822);
}

.b1{
    width: 100px;
}

.b2{
    margin-top: 8px;
    width: 227px;
}

button{
    margin-top: 10px;
    width: 250px;
    height: 40px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: rgb(54, 119, 238);
    font-size:medium;
    border-radius: 8px;
}
