.flex{
  display: flex;
  height: 50px;
}

.one{
  width: 100px;
  background-color: pink;


}

.two{
  width: 200px;
  background-color: lightblue;
}



.row2{
  display: flex;
  justify-content: space-between;

}

.row21{
    background-color: black;
    color: white;
}

.row22{
  background-color: black;
  color: white;
}
