
*{
    font-family: Arial;

}

input{
    border: 1.9px solid black;
    padding: 8px ;
    width: 310px;
    border-radius: 5px;
    margin-top: 7px;

}

label{
    color: rgb(59, 53, 53);
    font-weight: 300px;
    font-size: small;
}
.agr{
    margin-top: 10px;
    color: rgb(97, 97, 97);
    font-size: small;
}

button{
    margin-top: 15px;
    padding: 13px;
    width: 330px;
    border-radius: 30px;
    border: none;
    background-color: rgb(10, 102, 194);
    color: white;
    font-weight: 300;
    font-size: large
}
