img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
}
.first{
    vertical-align: middle;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(82, 79, 79);
    border: none;
    font-size: large;
    width: 250px;
}
button{
    color: white;
    border: none;
    font-weight: bolder;
    background-color: rgb(45, 144, 226);
    border-radius: 30px;
    padding: 8px 15px;

    vertical-align: middle;
}
