.text{
    position: fixed;
    bottom: 0px;
    right: 0px;
    top: 0px;
    width: 100px;
    color: white;
    background-color: rgb(18, 110, 18);
}

body{
    height: 3000px;

}

.over{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.301);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
